=stylesheet_link_tag "factory_scenarios"
.headers
  %p 
    %span Subject: 
    = @message.subject
  %p 
    %span From: 
    = Array(@message.from).join(", ")
  %p 
    %span To: 
    = Array(@message.to).join(", ")
  %p 
    %span Sender: 
    = @message.sender

%hr

%irame.mail-preview(style="border: none; margin: 0; padding: 0; background: white;")
  = @message.body.decoded.html_safe