=javascript_include_tag "jquery"

:javascript
  $("li a").live("click", function(event) {
    $(".current").removeClass("current")
    $(this).closest("li").addClass("current")
  })


%style
  :sass
    body
      font-family: sans-serif
    h1
      font-size: 16px
    ul
      margin: 0
      padding: 0
      width: 20%
      min-width: 150px
    li
      list-style-type: none
      border-bottom: 1px dotted #999
      margin: 0
      padding: 1em 0
      display: block
      min-width: 170px
      overflow: hidden
      padding-left: 1em

      &.current
        background-color: #ffc

      &:last-child
        border-bottom: none

      form
        display: inline-block
        margin: 0

      .actions
        float: right
        margin-right: 20px


      a
        font-size: 12px
        &.reload
          color: red
          &:hover
            background: red
            color: white
    iframe
      border: none
      border-left: 3px solid #ccf


%h1 Factory Scenarios
%ul#factory-scenarios-container
  - if @scenarios.any?
    - for scenario in @scenarios
      %li(class="#{"current" if scenario.find_user && scenario.find_user == current_user}")
        "#{scenario.name.titlecase}"
        .actions
          = link_to "Login", enact_factory_scenario_path(scenario), :target => :dynamic, :id => "enact_#{scenario.name}"  
          = link_to "reset data & login", enact_factory_scenario_path(scenario, :clear => true), :class => :reload, :target => :dynamic, :id => "reload_#{scenario.name}"
  - else
    %h2 There are no defined scenarios.
    %p Make sure you are loading your scenarios.
    %p Only scenarios for your User class will be loaded as scenarios.
      
%iframe(name="dynamic" id="dynamic" style=" position: fixed; top: 0; right:0; width: 80%; height: 100%; background: white;")
