=javascript_include_tag "factory_scenarios"
=stylesheet_link_tag "factory_scenarios"

%h1 Factory Scenarios
%ul#factory-scenarios-container
  - if @scenarios.any?
    - for scenario in @scenarios
      %li(class="#{"current" if scenario.find_user && scenario.find_user == current_user}")
        "#{scenario.name.titlecase}"
        .actions
          = scenario_link scenario
          = reload_scenario_link scenario
  - else
    %h2 There are no defined scenarios.
    %p Make sure you are loading your scenarios.
    %p Only scenarios for your User class will be loaded as scenarios.
      
%iframe(name="dynamic" id="dynamic" style=" position: fixed; top: 0; right:0; width: #{@width}; height: 100%; background: white;")
